<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<header th:replace="fragments/navbar.html :: navbar('amministrazione')"></header>
<body class="position-relative" id="transition">

<main class="container" style="min-height: 720px;">

    <div th:if="${redirectMessage !=null}" aria-live="polite" aria-atomic="true"
         class="bg-body-secondary  bd-example-toasts rounded-3">
        <div class="toast-container p-3 top-20 start-50 translate-middle-x" id="toastPlacement"
             data-original-class="toast-container p-3">
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="fa-solid fa-building-columns"></i>
                    <strong class="me-auto">Museo alert</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" th:text="${redirectMessage}"></div>
            </div>
        </div>
    </div>

    <div>

        <div class="mt-4 mb-4 row">
            <div class="col-8 gold-text title">
                <h1>Rifornimenti</h1>
            </div>

            <form class="col-3" id="prodotto-search" th:action="@{/assortimenti}" method="get"
                  style="font-family: Arial, Helvetica, sans-serif;">
                <div class="input-group">
                    <input class="form-control" type="text" name="keyword" id="keyword"
                           placeholder="cerca un prodotto per nome" th:value="${preloadSearch}">
                    <button type="submit" class="btn btn-dark"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>

        <div th:if="${assortimentiList.size == 0}" class="mt-5 pt-3 text-center">
            <h2>The list is empty</h2>
        </div>

        <div class="row">

            <div class="col-12 col-lg-8">
                <table class="table table-striped mt-2 table-shadow" th:unless="${assortimentiList.size == 0}">
                    <thead>
                    <tr>
                        <th scope="col"><h5>DataAssortimento</h5></th>
                        <th scope="col"><h5>Prodotto Acquistato</h5></th>
                        <th scope="col"><h5>Quantità Acquistato</h5></th>
                        <th scope="col"><h5>Nome Fornitore</h5></th>
                        <th scope="col"><h5>Prezzo Unità</h5></th>
                        <th scope="col"><h5>Prezzo Totale</h5></th>
                    </tr>
                    </thead>

                    <tbody class="table-group-divider">
                    <tr th:each="ass : ${assortimentiList}"
                    >
                        <div>
                            <td class="fw-normal name-list-w"><h5 th:text="${ass.dataAssortimento}"
                                                                  class="fw-semibold"></h5></td>
                            <td>
                                <div class="badge text-dark"><h6 th:text="${ass.nome}" class="fw-semibold"></h6></div>
                            </td>
                            <td>
                                <div class="badge text-dark"><h6 th:text="${ass.quantitaAcquistata}"
                                                                 class="fw-semibold"></h6></div>
                            </td>
                            <td>
                                <div class="badge text-dark"><h6 th:text="${ass.nomeFornitore}"
                                                                 class="fw-semibold"></h6></div>
                            </td>
                            <td>
                                <div class="badge text-dark"><h6 th:text="${ass.prezzoSingolo}  + ' ' + € "
                                                                 class="fw-semibold"></h6></div>
                            </td>
                            <td>
                                <div class="badge text-dark"><h6 th:text="${ass.prezzoTotale}  + ' ' + € "
                                                                 class="fw-semibold"></h6></div>
                            </td>

                        </div>
                    </tr>


                    </tbody>
                </table>

            </div>
            <div class="col-lg-3" style="position: sticky; top: 85px;">
                <div class="mt-3">
                    <a class="btn btn-outline text-color-custom" th:href="@{/assortimenti/create}"><i
                            class="fa-solid fa-plus"></i></a>
                </div>
            </div>
        </div>


    </div>

</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>