<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<body class="" id="transition">
<header th:replace="fragments/navbar.html :: navbar('amministrazione')"></header>

<main style="min-height: 727px; font-size: 1.5em;">
    <div class="container d-flex justify-content-center">
        <div class="row mt-3">


            <div class="col-4  mt-4 pt-5 centro">
                <div class="card bg-opacity-25 bg-secondary  " style="width: 23rem; border-color: #E3AA54;">
                    <div class="card-body">
                        <h2 class="  pb-2 mt-1 gold-text text-center"><i
                                class="fa-solid fa-user"></i></h2>
                        <div>
                            <h1 class=" text-light pb-3 mt-1" th:text="|Nome: ${user.firstName}|"></h1>
                        </div>
                        <div>
                            <h1 class=" text-light pb-3 mt-1" th:text="|Cognome: ${user.lastName}|"></h1>
                        </div>

                        <h2 class=" text-light pb-3" th:text="|Username: ${user.email}|"></h2>
                        <h2 class="   text-light pb-3">Password: <span style="font-size: 30%; margin-bottom:-30px;"><i class="fa-solid fa-circle"></i>  <i class="fa-solid fa-circle"></i>  <i class="fa-solid fa-circle"></i>  <i class="fa-solid fa-circle"></i>  <i class="fa-solid fa-circle"></i>  <i class="fa-solid fa-circle"></i>  <i class="fa-solid fa-circle"></i>  <i class="fa-solid fa-circle"></i></span> </h2>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="text-center mt-5" style="font-size: 1em; padding-top: 20px;">
        <a class="text-decoration-none gold-text " th:href="@{/}"><i
                class="fa-solid fa-circle-chevron-left "></i> Home </a>
    </div>
    </div>
</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>