<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<body class="" id="transition">
<header th:replace="fragments/navbar.html :: navbar('amministrazione')"></header>

<main style="min-height: 727px; font-size: 1.5em;">
    <div class="container">
        <div class="row mt-3">


            <div class="col-4  mt-4 pt-5 centro">
                <div>
                    <h1 class="text-center pb-3 mt-1" th:text="${user.firstName}"></h1>
                </div>
                <div>
                    <h1 class="text-center pb-3 mt-1" th:text="${user.lastName}"></h1>
                </div>
                <h5 class=" text-center pb-2 mt-1 gold-text"><i class="fa-solid fa-landmark"></i></h5>
                <h6 class=" text-center pb-3" th:text="${user.email}"></h6>
                <h6 class=" text-center pb-3" th:text="${user.password}"></h6>


                    </div>
                </div>
            </div>




        <div class="text-center mt-5" style="font-size: 0.8em">
            <a class="text-decoration-none gold-text" th:href="@{/amministrazione}"><i
                    class="fa-solid fa-circle-chevron-left "></i> Ritorna alla lista </a>
        </div>
    </div>
</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>