<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<body class="" id="transition">
<header th:replace="fragments/navbar.html :: navbar('amministrazione')"></header>

<div class="container text-center" style="min-height: 720px;">

    <h1 class="gold-text">De nihilo nihilum, in nihilum nil posse reverti </h1>
    <h2 class="gold-text">Errare humanum est, contristari</h2>

    <h2 class="gold-text " style="font-size: 3em" th:text="${status}"></h2>

    <img style="width: 30%;" src="/error.png">




    <div class="text-center mt-5" style="font-size: 2em; padding-top: 20px;">
        <a class="text-decoration-none gold-text " th:href="@{/}"><i
                class="fa-solid fa-circle-chevron-left "></i> Torna alla Home </a>
    </div>

    <p th:text="${trace}"></p>
</div>
<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>