<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<header th:replace="fragments/navbar.html :: navbar('amministrazione')"></header>
<body class="position-relative" id="main">

<main class="container" style="min-height: 720px;">

    <div th:if="${redirectMessage !=null}" aria-live="polite" aria-atomic="true"
         class="bg-body-secondary  bd-example-toasts rounded-3">
        <div class="toast-container p-3 top-20 start-50 translate-middle-x" id="toastPlacement"
             data-original-class="toast-container p-3">
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="fa-solid fa-building-columns"></i>
                    <strong class="me-auto">Museo alert</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" th:text="${redirectMessage}"></div>
            </div>
        </div>
    </div>

    <div>

        <div class="mt-4 mb-4 row">
            <div class="col-8 pt-3 gold-text title">
                <h1>Riepilogo contabilità</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div>
                    <table class="table table-striped mt-2">
                        <thead>
                        <tr>
                            <th><h5>Totale Entrate </h5></th>
                            <th><h5>Totale Uscite</h5></th>
                            <th><h5>Totale Profitti</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="fw-semibold" th:text="|${totaleEntrate} €|"></td>
                            <td class="fw-semibold" th:text="|${totaleUscite} €|"></td>
                            <td class="fw-semibold" th:text="|${totaleCosti} €|"
                                th:classappend="${totaleCosti <= 0 ? 'text-danger' : 'text-success'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-6">
                        <table class="table table-striped mt-2">
                            <thead>

                            <tr>
                                <th><h5>Data</h5></th>
                                <th><h5>Tipo</h5></th>
                                <th><h5>Quantità</h5></th>
                                <th><h5>Prodotto</h5></th>
                                <th><h5>Costo</h5></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="entry : ${acquisti}">
                                <td class="fw-semibold" th:text="${entry.dataAcquisto}"></td>
                                <td class="fw-semibold" th:text="'acquisto'"></td>
                                <td class="fw-semibold" th:text="${entry.quantita}"></td>
                                <td class="fw-semibold" th:text="${entry.nome}"></td>
                                <td class="text-success fw-semibold"
                                    th:text="|${entry.prezzoTotale} €|"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6">
                        <table class="table table-striped mt-2">
                            <thead>

                            <tr>
                                <th><h5>Data</h5></th>
                                <th><h5>Tipo</h5></th>
                                <th><h5>Quantità</h5></th>
                                <th><h5>Prodotto</h5></th>
                                <th><h5>Costo</h5></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="entry : ${assortimenti}">
                                <td class="fw-semibold" th:text="${entry.dataAssortimento}"></td>
                                <td class="fw-semibold" th:text="'assortimento'"></td>
                                <td class="fw-semibold" th:text="${entry.quantitaAcquistata}"></td>
                                <td class="fw-semibold" th:text="${entry.nome}"></td>
                                <td class="text-success fw-semibold"
                                    th:text="|-${entry.prezzoTotale} €|"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>