<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<header th:replace="fragments/navbar.html :: navbar('amministrazione')"></header>
<body class="position-relative" id="main">

<main class="container" style="min-height: 720px;">

    <div th:if="${redirectMessage !=null}" aria-live="polite" aria-atomic="true"
         class="bg-body-secondary  bd-example-toasts rounded-3">
        <div class="toast-container p-3 top-20 start-50 translate-middle-x" id="toastPlacement"
             data-original-class="toast-container p-3">
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="fa-solid fa-building-columns"></i>
                    <strong class="me-auto">Museo alert</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" th:text="${redirectMessage}"></div>
            </div>
        </div>
    </div>

    <div>


        <div class="row">

            <div class="col-12 col-lg-10">
                <div class="row">
                    <div clss="col-5">
                        <table class="table table-striped mt-2">
                            <thead>

                            <tr>
                                <th>Data</th>
                                <th>Tipo</th>
                                <th>Quantità</th>
                                <th>Prodotto</th>
                                <th>Costo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="entry : ${entrate}">
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Acquisto)} ? ${entry.dataAcquisto} : ''"></td>
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Acquisto)} ? 'acquisto' : ''"></td>
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Acquisto)} ? ${entry.quantita} : ''"></td>
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Acquisto)} ? ${entry.prodotto.nome} : ''"></td>
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Acquisto)} ? |${entry.prezzoTotale} €| : ''"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-5">
                        <table class="table table-striped mt-2">
                            <thead>

                            <tr>
                                <th>Data</th>
                                <th>Tipo</th>
                                <th>Quantità</th>
                                <th>Prodotto</th>
                                <th>Costo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="entry : ${entrate}">
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Assortimento)} ? ${entry.dataAssortimento} : ''"></td>
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Assortimento)} ? 'assortimento' : ''"></td>
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Assortimento)} ? ${entry.quantitaAcquistata} : ''"></td>
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Assortimento)} ? ${entry.prodotto.nome} : ''"></td>
                                <td th:text="${entry != null && entry instanceof T(org.lesson.projectwork.model.Assortimento)} ? |${entry.prezzoTotale} €|: ''"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>


    </div>

</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>