<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Home')"></head>

<body class="position-relative" id="transition">
<header th:replace="fragments/navbar.html :: navbar('home')"></header>


<h1 class="highlight">WELCOME TO THE LOUVRE</h1>
<p>
    Guided tours and tickets are available every day at 11 am and 2 pm.<br>
    Check out our latest event: <strong>Touch Gallery</strong> and our new tour: <strong>Sculpting the Body</strong>
</p>
<h2>GUIDED TOURS</h2>
<ul>
    <li>
        <strong>My First Louvre</strong> - Length 1 hr 30 mins - English
    </li>
</ul>
<h2>ARTWORK OF THE DAY</h2>
<p>
    Louvre collection<br>
    <strong>Andrea Mantegna, Parnassus</strong>
</p>
<img src="artwork.jpg" alt="Andrea Mantegna, Parnassus">


<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>