<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Home')"></head>

<body class="position-relative" id="transition">
<header th:replace="fragments/navbar.html :: navbar('home')"></header>

<main class="container" style="background-color: #222222a3; margin-top: 15em;">

    <div style="position: relative; " id="big_title">
        <h1 style="font-size: 6.5em;">WELCOME </h1>
        <h1 style="font-size: 6.5em;">TO THE MUSEUM</h1>
    </div>

    <div class="home_background mb-5" style="height: 800px; ">
        <img src="/statua1.png" id="statua"
             style=" position: relative; right: -60%; top: -70%; width: 40em;">
        <div class=" w-50" style=" position: relative; left: 10%; top: -88%; ">
            <h4 class="pb-2">THE MUSEUM</h4>
            <h5>
                Nel cuore dell'antica città di Roma, sorge maestoso "The Museum", un santuario dell'arte classica
                e della storia, eretto nel 1925. Frutto della visione dell'illustre architetto Elena Birkenahuer, la sua
                struttura neoclassica evoca l'eterna bellezza dell'arte rinascimentale, delle magnifiche antichità
                romane e delle sculture greche che sembrano sospese nel tempo. "The Museum" è un portale attraverso i
                secoli, dove le narrazioni dell'umanità si intrecciano nelle opere immortali dall'epoca dorata
                dell'antichità fino ai fasti del tardo Rinascimento. Con le sue collezioni senza tempo e mostre
                temporanee che dialogano con il passato, il museo è un faro di sapere, esplorando le profonde
                connessioni tra epoche e movimenti artistici. Impegnato a preservare il patrimonio dell'umanità, "The
                Museum" è custode delle tradizioni e illuminatore dei percorsi culturali per generazioni future, un
                tempio dedicato all'immortalità dell'arte e alla sua capacità di ispirare oltre i confini del tempo.
            </h5>
        </div>
    </div>

    <div class="home_row_gold"></div>

    <div class="pt-3">
        <h2 class="text-center py-5 mt-4">Prodotti più Apprezzati</h2>
    </div>

    <section class="container-fluid">
        <div id="cCarousel">
            <div class="arrow" id="prev"><i class="fa-solid fa-chevron-left"></i></div>
            <div class="arrow" id="next"><i class="fa-solid fa-chevron-right"></i></div>

            <div id="carousel-vp">
                <div id="cCarousel-inner">

                    <article class="cCarousel-item" th:each="prodotto : ${prodottiTop}">
                        <img th:src="@{${prodotto.foto}}" class=""
                             alt="foto ">
                        <div class="infos">
                            <h4 class="mb-2 text-light" th:text="${prodotto.nome}"></h4>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>


</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>