<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Show')"></head>

<body class="">
<header th:replace="fragments/navbar.html :: navbar('shop')"></header>

<main class="text-light" style="min-height: 727px; ">
    <div class="text-center" style="width: 470px; height: 400px; background-color: #222222e0; margin: 0 auto;">
        <h1 class="pt-5 mt-3">Accesso</h1>
        <form th:action="@{/login}" method="post">
            <label for="username" class=" my-4 underbars"><i class="fa-regular fa-user"></i></label>
            <input class="fs-5 text-light" type="text" style="background-color: transparent; border: none;"
                   id="username"
                   name="username" placeholder=" Username" required/>
            <br/>
            <label for="password" class="mt-4 underbars"><i class="fa-solid fa-unlock"></i></label>
            <input type="password" id="password" name="password" placeholder=" Password" class="fs-5 text-light"
                   required
                   style="background-color: transparent; border: none;"/>
            <br/>
            <button type="submit" class="fs-3 mt-5 gold-text" style="background-color: transparent; border: none;">
                Login
            </button>
        </form>
    </div>
</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>
