<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Show')"></head>

<body class="">
<header th:replace="fragments/navbar.html :: navbar('shop')"></header>

<main class="text-light" style="min-height: 727px; ">
    <div class="text-center" style="width: 500px; height: 600px; background-color: #222222; margin: 0 auto;">
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <br/>
    <button type="submit">Login</button>
</form>
    </div>
</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>
</body>
</html>
