<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<body id="transition">
<header th:replace="fragments/navbar.html :: navbar('amministrazione')"></header>

<main class="text-light" style="min-height: 727px; ">
    <div class="text-center" style="width: 470px; height: 550px; background-color: #222222e0; margin: 0 auto;">
        <h1 class="pt-5 mt-3">REGISTRAZIONE</h1>

        <form th:action="@{/user/register}"
              th:object="${user}" method="post">

            <label for="firstName" class=" my-4 underbars"></label>
            <input class="fs-5 text-light"
                   style="font-family: Arial, Helvetica, sans-serif; background-color: transparent; border: none;"
                   type="text"
                   id="firstName" th:field="*{firstName}"
                   th:errorClass="is-invalid" placeholder="Nome">
            <div class="invalid-feedback " th:if="${#fields.hasErrors('firstName')}">
                <ul>
                    <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                </ul>
            </div>
            <br/>

            <label for="lastName" class=" my-4 underbars"></label>
            <input class="fs-5 text-light"
                   style="font-family: Arial, Helvetica, sans-serif; background-color: transparent; border: none;"
                   type="text"
                   id="lastName" th:field="*{lastName}"
                   th:errorClass="is-invalid" placeholder="Cognome">
            <div class="invalid-feedback " th:if="${#fields.hasErrors('lastName')}">
                <ul>
                    <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
                </ul>
            </div>
            <br/>

            <label for="username" class=" my-4 underbars"></label>
            <input class="fs-5 text-light"
                   style="font-family: Arial, Helvetica, sans-serif; background-color: transparent; border: none;"
                   type="text"
                   id="username" th:field="*{email}"
                   th:errorClass="is-invalid" placeholder="Username">
            <div class="invalid-feedback " th:if="${#fields.hasErrors('email')}">
                <ul>
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                </ul>
            </div>
            <br/>

            <label for="password" class=" my-4 underbars"></label>
            <input class="fs-5 text-light"
                   style="font-family: Arial, Helvetica, sans-serif; background-color: transparent; border: none;"
                   type="password"
                   id="password" th:field="*{password}"
                   th:errorClass="is-invalid" placeholder="Password">
            <div class="invalid-feedback " th:if="${#fields.hasErrors('password')}">
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                </ul>
            </div>
            <br/>

            <button type="submit" class="fs-3 mt-5 pt-5 gold-text" style="background-color: transparent; border: none;">
                Register
            </button>
            <a  th:href="@{/}" class="btn fs-3 gold-text" style="background-color: transparent; border: none; ">
                Home
            </a>
        </form>
    </div>
</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>