<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('I tuoi acquisti')"></head>

<header th:replace="fragments/navbar.html :: navbar('shop')"></header>
<body class="position-relative" id="transition">

<main class="container" style="min-height: 720px;">

    <div>

        <div class="mt-4 mb-4 row">
            <div class="col-8 gold-text title">
                <h1>I tuoi Acquisti</h1>
            </div>

            <form class="col-3" id="prodotto-search" th:action="@{/transazioni}" method="get"
                  style="font-family: Arial, Helvetica, sans-serif;">
                <div class="input-group">
                    <input class="form-control" type="text" name="keyword" id="keyword"
                           placeholder="cerca un prodotto per nome" th:value="${preloadSearch}">
                    <button type="submit" class="btn btn-dark"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>

        <div th:if="${acquistoList.size == 0}" class="mt-5 pt-3 text-center">
            <h2>The list is empty</h2>
        </div>

        <div class="row">

            <div class="col-12 col-lg-8">
                <table class="table table-striped mt-2" th:unless="${acquistoList.size == 0}">
                    <thead>
                    <tr>
                        <th scope="col">Codice transazione</th>
                        <th scope="col ">Data Acquisto</th>
                        <th scope="col ">Prodotto Acquistato</th>
                        <th scope="col ">Quantità</th>
                        <th scope="col ">prezzo unità</th>
                        <th scope="col ">prezzo totale</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="acq : ${acquistoList}">

                        <td>
                            <div class="fw-normal name-list-w "><h5 th:text="${acq.codice}"></h5></div>
                        </td>
                        <td>
                            <div class="badge text-dark"><h6 th:text="${acq.dataAcquisto}"></h6></div>
                        </td>
                        <td>
                            <div class="badge text-dark "><h6 th:text="${acq.nome}"></h6></div>
                        </td>
                        <td>
                            <div class="badge text-dark "><h6 th:text="${acq.quantita}"></h6></div>
                        </td>
                        <td>
                            <div class="badge text-dark "><h6 th:text="${acq.prezzoSingolo}  + ' ' + € "></h6></div>
                        </td>
                        <td>
                            <div class="badge text-dark "><h6 th:text="${acq.prezzoTotale}  + ' ' + € "></h6></div>
                        </td>


                    </tr>


                    </tbody>
                </table>

            </div>
        </div>


    </div>

</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>