<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<header th:replace="fragments/navbar.html :: navbar('shop')"></header>
<body>
<h1>prova acquisto</h1>
<form
        id="create-acquisto"
        method="post"
        th:object="${acquisto}"
        th:action="@{/shop/create}"
        class="row gy-3"
>
    <input type="hidden" th:field="*{prodotto}">


    <div class="col-6">
        <label class="form-label logocolor" for="quantità">quantità</label>
        <input class="form-control" type="text" id="quantità" th:field="*{quantità}"
               th:errorClass="is-invalid">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('quantità')}">
            <ul>
                <li th:each="err : ${#fields.errors('quantità')}" th:text="${err}"></li>

            </ul>
        </div>
        <h5 th:if="${errorMessage}" th:text="|${errorMessage} Put a number below:|"></h5> <h5 th:text="${acquisto.prodotto.quantità}"></h5>
    </div>
    <input type="hidden" th:field="*{dataAcquisto}">


    <div class="col-12">
        <button type="submit" class="btn btn-warning">Save</button>
        <a class="btn btn-danger" th:href="@{/shop}">Cancel</a>
    </div>
</form>
<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>