<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<header th:replace="fragments/navbar.html :: navbar('shop')"></header>

<body class="">

<main class="container">
    <div th:if="${redirectMessage !=null}" aria-live="polite" aria-atomic="true"
         class="bg-body-secondary  bd-example-toasts rounded-3">
        <div class="toast-container p-3 translate-middle-x" id="toastPlacement"
             data-original-class="toast-container p-3">
            <div class="toast fade show">
                <div class="toast-header">
                    <i class="fa-solid fa-pizza-slice"></i>
                    <strong class="me-auto">Museo alert</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" th:text="${redirectMessage}"></div>
            </div>
        </div>
    </div>

    <div>

        <div class="mt-5 mb-4 row justify-content-between">
            <div class="col-8 gold-text">
                <h1>Catalogo Prodotti</h1>
            </div>

            <form class="col-3" id="prodotto-search" th:action="@{/shop}" method="get">
                <div class="input-group">
                    <input class="form-control fs-5" type="text" name="keyword" id="keyword"
                           placeholder="cerca un prodotto per nome" th:value="${preloadSearch}">
                    <button type="submit" class="btn btn-dark"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>

        <div th:if="${prodottoList.size == 0}" class="mt-5 pt-3 text-center">
            <h2>The list is empty</h2>
        </div>
        <!--cards-->

        <!--<div class="row g-5 mb-5">
            <div class="col-lg-4 col-12" th:each="prodotto : ${prodottoList} ">
                <a th:href="@{/shop/show/{id}(id=${prodotto.id})}" class="text-decoration-none text-dark">
                    <div class="card border-0 shadow">
                        <img th:src="@{${prodotto.foto}}" class=" img-fluid object-fit-contain"
                             alt="prodotto" style="height: 200px;">
                        <div class="card-body d-flex flex-column row">
                            <h5 class="mb-2" th:text="${prodotto.nome}"></h5>
                            <h6 class="card-text mb-1" th:text="${prodotto.prezzo} + ' ' + € "></h6>

                            <div class=" d-flex justify-content-between">
                                <p th:text="${prodotto.quantità == 0 ? 'Queso prodotto è esaurito' : prodotto.quantità < 51 ? 'Affrettati, solo pochi disponibili !' : ''}"></p>
                                <a th:if="${prodotto.quantità != 0}"
                                   th:href="@{/shop/create(prodottoId=${prodotto.id})}"
                                   class="btn btn-dark me-2">Acquista</a>
                                <a th:unless="${prodotto.quantità != 0}" class="btn btn-dark disabled">Acquista </a>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>-->

        <section class="row justify-content-around g-5 mb-5 mt-4 ">
            <div  class=" text-align-left d-flex justify-content-start col-5 " th:each="prodotto : ${prodottoList} ">
                <a th:href="@{/shop/show/{id}(id=${prodotto.id})}" class="text-decoration-none text-dark">
                    <div class="img-hover">
                    <img th:src="@{${prodotto.foto}}" class="" style="width: 200px; transform: scale(95%);" alt="foto ">
                    </div>
                    <div class="text-hover ps-4 pe-2 py-2 background-card" style="min-width: 300px; transform: scale(107%); box-shadow: 3px 0px 20px 1px #131313;">
                        <div class="pb-5">
                            <h4 class="mb-2 text-light" th:text="${prodotto.nome}"></h4>
                            <p class="card-text mb-1 text-secondary fs-4" th:text="${prodotto.prezzo} + ' ' + € "></p>
                        </div>

                        <div class=" d-flex justify-content-between pt-3">
                            <div class="text-light">
                                <p th:text="${prodotto.quantità == 0 ? 'Queso prodotto è esaurito' : prodotto.quantità < 51 ? 'Affrettati, solo pochi disponibili !' : ' '}"> </p>
                            </div>
                            <div class="text-light">
                                <a th:if="${prodotto.quantità != 0}"
                                   th:href="@{/shop/create(prodottoId=${prodotto.id})}"
                                   class="btn btn-outline-warning text-color-custom me-2">Acquista</a>
                                <a th:unless="${prodotto.quantità != 0}" class="btn btn-outline text-color-custom">Acquista</a>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </section>


    </div>
    </div>


</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>