<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Amministrazione Show')"></head>

<body id="transition">

<header th:replace="fragments/navbar.html :: navbar('shop')"></header>

<main class="container h-100" style="min-height: 760px;">

    <form
            id="create-prenotazione"
            method="post"
            th:object="${prenotazione}"
            th:action="@{/shop/create}"
            class="row gy-3"
    >
        <input type="hidden" th:field="*{prodotto}">
        <h1 class="mb-5 mt-5 title gold-text">Prenota <span th:text="${prodotto.nome}"></span></h1>

        <div class="row">

        </div>
        <div class="img-td-width col-4"><img
                class="img-fluid w-75 mt-3" th:src="@{${prodotto.foto}}">
        </div>




        <div class="col-4">
            <label class="form-label logocolor mb-3" for="quantita"><h5>Seleziona quantità</h5></label>
            <select class="form-control border-bottom-0 border-start-0 w-25 fs-5 fw-semibold"
                    id="quantita" th:field="*{quantita}"
                    th:errorClass="is-invalid">
                <option th:each="i : ${#numbers.sequence(1, 200)}" th:value="${i}"
                        th:text="${i}"></option>
            </select>
        </div>


        <input type="hidden" th:field="*{dataAcquisto}">


        <div class="col-8" style="margin-left: 250px;">
            <button type="submit" class="btn btn-outline-warning text-color-custom">Conferma</button>
            <a class="btn btn-outline-warning text-color-custom" th:href="@{/shop}">Cancella</a>
        </div>
    </form>

</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>

</body>
</html>